<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cts.stopandkillapp">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <queries>
        <provider android:authorities="android.tradefed.contentprovider" />
    </queries>

    <application>
        <activity android:name="com.android.cts.stopandkillapp.PersistableActivity"
            android:exported="true" android:persistableMode="persistAcrossReboots"/>

        <activity android:name="com.android.cts.stopandkillapp.PersistableTimeoutActivity"
            android:exported="true" android:persistableMode="persistAcrossReboots"/>

        <activity android:name="com.android.cts.stopandkillapp.NonPersistableActivity"
            android:exported="true" android:persistableMode="persistNever" />

        <activity-alias
            android:name="com.android.cts.stopandkillapp.AliasActivity"
            android:targetActivity="com.android.cts.stopandkillapp.PersistableActivity"
            android:exported="true">
        </activity-alias>

    </application>

</manifest>
