<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cts.stopandkillapp">

    <application android:theme="@android:style/Theme.DeviceDefault">

        <activity android:name="com.android.cts.stopandkillapp.PersistableActivity" android:exported="true"
            android:persistableMode="persistAcrossReboots">
        </activity>
        <activity android:name="com.android.cts.stopandkillapp.PersistableTimeoutActivity" android:exported="true"
            android:persistableMode="persistAcrossReboots" />

        <activity android:name="com.android.cts.stopandkillapp.NonPersistableActivity" android:exported="true"
            android:persistableMode="persistNever" />
    </application>

</manifest>
