<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2026 Google Inc.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.cts.calmediatestapp"
    android:targetSandboxVersion="2">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <!-- Minimum SDK Required by CarAppLibrary -->
    <uses-sdk android:minSdkVersion="31" />

    <application
        android:label="CalMediaTestApp">

        <activity
            android:name="androidx.car.app.activity.CarAppActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar">
            <!-- Indicates the activity is safe for driving -->
            <meta-data android:name="distractionOptimized" android:value="true" />
            <meta-data android:name="androidx.car.app.CAR_APP_ACTIVITY_BOUNCER"
                android:value="true" />
        </activity>

        <service
            android:name=".TestCarAppService"
            android:exported="true">
            <intent-filter>
                <action android:name="androidx.car.app.CarAppService" />
                <category android:name="androidx.car.app.category.MEDIA" />
            </intent-filter>
        </service>

        <service
            android:name=".MediaService"
            android:icon="@drawable/app_icon"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true"
            android:label="CalMediaTestApp Browser">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
            <meta-data
                android:name="androidx.car.app.media.CalMediaActivityComponent"
                android:value="android.cts.calmediatestapp/androidx.car.app.activity.CarAppActivity"/>
        </service>

        <meta-data
            android:name="androidx.car.app.minCarApiLevel"
            android:value="3" />
    </application>

</manifest>
