<?xml version="1.0" encoding="utf-8" ?>
<!--
    ~ Copyright (C) 2025 The Android Open Source Project
    ~
    ~ Licensed under the Apache License, Version 2.0 (the "License");
    ~ you may not use this file except in compliance with the License.
    ~ You may obtain a copy of the License at
    ~
    ~      http://www.apache.org/licenses/LICENSE-2.0
    ~
    ~ Unless required by applicable law or agreed to in writing, software
    ~ distributed under the License is distributed on an "AS IS" BASIS,
    ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    ~ See the License for the specific language governing permissions and
    ~ limitations under the License.
    -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.contentsafety.cts" android:targetSandboxVersion="2">
    <application>
        <profileable android:shell="true"/>
        <service
            android:name=".CtsContentSafetyService"
            android:permission="android.permission.BIND_CONTENT_SAFETY_SERVICE"
            android:exported="true">
        </service>
        <!--        <private-compute>-->
        <service
            android:name=".CtsContentSafetyPccService"
            android:permission="android.permission.BIND_SANDBOXED_CONTENT_SAFETY_SERVICE"
            android:exported="true">
        </service>
        <!--        </private-compute>-->
        <!-- TODO(b/455653466): add android:isolatedproces=true when decision will be made about the sandboxed service. -->
        <service
            android:name=".CtsContentSafetySettingsService"
            android:permission="android.permission.BIND_SETTINGS_CONTENT_SAFETY_SERVICE"
            android:exported="true">
        </service>
    </application>
    <uses-permission android:name="android.permission.CHECK_CONTENT_SAFETY" />
    <!--  self-instrumenting test package. -->
    <instrumentation
        android:name="androidx.test.runner.AndroidJUnitRunner"
        android:label="CTS tests for the Content Safety Service APIs."
        android:targetPackage="android.contentsafety.cts" >
    </instrumentation>
</manifest>
